{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Admin
{% endblock %}

{% block content %}
    <h1>Espace administrateur</h1>
    <p>Vous souhaitez modifier la valeur d'une question ? C'est par ici !</p>

    <form method="post">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Question 1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for value in values |slice (0,4) %}
                        <p>{{ value.label }} : {{value.answer_value}}
                        </p>
                        <p>
                            <input type="hidden" id="id" name="id" value="{{ value.id }}">
                            <label for="answer_value">Nouvelle valeur de réponse :</label>
                            <input type="number" step=".01" id="answer_value" name="answer_value">
                            <input type="submit" value="Modifier les valeurs">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
        {% endfor %}
{% endblock %}