{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Admin
{% endblock %}

{% block content %}
    <h1>Modifier le questionnaire</h1>
    <p>Vous souhaitez modifier la valeur d'une question ? C'est par ici !</p>
{% endblock %}