{% extends 'layout.html.twig' %}


{% block content %}
    <div class="text-center">
        <form>
            <div class="form-group">
                <label for="ExampleInputEmail1">Adresse Email</label>
                <input type="email" class="form-control" id="ExampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse email">
            </div>
            <div class="form-group">
                <label for="ExampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="ExampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}