
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;0,700;1,100&display=swap');


:root {
  --font-family: 'Grandstander', cursive;
  --bs-green-dark: #27ae60;
  --bs-green-light: #2ecc71;
  --bs-yellow-dark: #f39c12;
  --bs-yellow-light: #f1c40f;
  --text-color: #ecf0f1;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html,
body {
  font-size: 10px;
  font-family: var(--font-family);
  color: var(--text-color);
}

/* classes used in the admin page*/

.admin-container {
    background: no-repeat url("/assets/images/foliage_bg.png");
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.admin-page {
    margin-top: 7.3em;

}

.accordion {
    color: var(--text-color);
}

.accordion-button {
    font-size: 0.4em;
}

:active.accordion-button, :focus.accordion-button {
    background-color: var(--bs-green-light);
    color: var(--text-color);
}

.accordion-collapse {
    background-color: var(--bs-yellow-light);
    color: var(--text-color);
}

.oldAnswerValue {
    font-size: 15px;
    font-weight: bold;
}

.btn-change-value {
    background-color: var(--bs-green-dark);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-green-dark)!important;
    color: var(--text-color)!important;
}

/* classes on calculator page*/
.question {
    background-color: var(--bs-yellow-light);
    color: var(--bs-green-dark);
}

.funfact {
    background-color: var(--bs-green-dark);
}

.btn-question {
    background-color: var(--bs-green-dark);
    color: var(--text-color);
}