
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;0,700;1,100&display=swap");

:root {
    --font-family: "Grandstander", cursive;
    --bs-green-darker: #0f5b01;
    --bs-green-dark: #27ae60;
    --bs-green-light: #2ecc71;
    --bs-yellow-dark: #f39c12;
    --bs-yellow-darker: #df7a0e;
    --bs-yellow-light: #f1c40f;
    --text-color: #ecf0f1;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
}


/* ---------- NAVBAR ---------- */
.navbar {
    background-color: var(--bs-green-light);
    box-shadow: var(--box-shadow);
}

#navbar-title {
    font-weight: bold;
    font-size: 3.6em;
    line-height: 0.8em;
    color: var(--text-color);
}

.offcanvas {
    background-color: var(--bs-green-dark);
}

#offcanvasNavbarLabel {
    color: var(--text-color);
    font-size: 4em;
    font-weight: bold;
}

.nav-link {
    font-size: 2.6em;
}

#nav-li-color a {
    color: var(--text-color);
}

.logo-top-nav {
    vertical-align: middle;
    width: 6em;
}


/* ---------- HOME PAGE ---------- */
/* .container1 {
    background-color: purple;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    height: 180vh;
    font-family: var(--font-family);
    width: 76vh;
}

.container2 {
    background-color: var(--bs-yellow-light);
    margin: 1em;
    margin-right: 100px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    height: 112vh;
    font-family: var(--font-family);
    width: 66vh;
    box-shadow: 3px 1px 10px black;
}

.textcolorlogo {
    color: green;
    padding-top: 1.9em;
}

.pclass1 {
    font-size: 2.9em;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    padding-right: 1em;
    padding-left: 1em;
} */

/* form {
    padding-top: 4em;
} */


/* MOBILE VIEW */

.mobilebodybackground {
    background: no-repeat url("/assets/images/foliage_bg.png");
    background-size: cover;
    background-position: left left;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.mobileContainer {
    background-color: var(--bs-yellow-light);
    border-radius: 25px;
    font-family: var(--font-family);
    box-shadow: 3px 1px 10px black;
    margin-top: 15vh;
    padding: 3vh;
    width: 90vw;
}

.centralparagraph {
    font-size: calc(100% + 1vw + 1vh);
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mobileButton {
    background-color: var(--bs-yellow-dark);
    color: var(--text-color);
    border-radius: 25px;
    height: 7rem;
    width: 50rem;
    font-size: calc(120% + 1vw + 1vh);
    width: 65vw;
    font-family: var(--font-family);
}

.logorezisehomepage {
    width: 25%;
    filter: invert(27%) sepia(14%) saturate(4421%) hue-rotate(72deg)
        brightness(93%) contrast(104%);
}

/* DESKTOP VIEW */

.desktopbodybackground {
    background-color: var(--text-color);
    height: 100vh;
    background-size: cover;
}

.homeHeaderBackgrounDesktopView {
    background-image: url(/assets/images/tropicaldesktopbackground.jpg);
    background-size: auto 100vw;
    height: 450px;
}

.homeheaderTitleDesktopView {
    font-size: 7.7em;
    font-weight: bold;
    text-shadow: 3px 1px 10px black;
}

.homeButtonDesktopView {
    background-color: var(--bs-yellow-light);
    color: #0F5B01;
    font-size: 5.6em;
    height: 82px;
    width: 400px;
    border-radius: 15px;
    font-family: var(--font-family);
    vertical-align: center;
    box-shadow: 3px 1px 10px black;
}

.homeButtonDesktopView:hover {
    color: var(--text-color);
    background-color: var(--bs-yellow-darker);
}

.homeArticleTextFormat {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-top: 1em;
}


.homeArticleDesktopView {
    text-align: left;
    padding-left: 2em;
    color: black;
    font-size: 1em;
    max-width: 30vw;
}

.homeArticleFontResizeDesktopView{
    font-size: 1.7em;
}

.homeCenterTitleDesktopView {
    margin-top: 5em;
}

.homeNameColorGreen {
    color: var(--bs-green-dark);
}

.resultsButtons .btnclass {
    width: initial;
    margin: 1.5vh;
}

#pcolorgreen {
    color: var(--bs-green-dark);
}


/* ---------- RESULTS PAGE ---------- */
.mainResultsContainer,
.question-container {
    background: no-repeat url("/assets/images/foliage_bg.png");
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.results {
    display: flex;
    justify-content: center;
}

.resultsContainer {
    background-color: var(--bs-yellow-light);
    margin: 1em;
    padding: 3vh;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-family: var(--font-family);
    width: auto;
    box-shadow: 3px 1px 10px black;
}

.resultsContainer h1, h2 {
    font-size: 5em;
}

.resultsByCategory {
    font-size: 2.5em;
    margin-bottom: 3vh;
    margin-top: 3vh;
}