
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;0,700;1,100&display=swap");

:root {
    --font-family: "Grandstander", cursive;
    --bs-green-dark: #27ae60;
    --bs-green-light: #2ecc71;
    --bs-yellow-dark: #f39c12;
    --bs-yellow-light: #f1c40f;
    --text-color: #ecf0f1;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html,
body {
    font-size: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
}
.waitingforHeader {
    margin-top: 4em;
}

.mobileContainer {
    background-color: var(--bs-yellow-light);
    border-radius: 25px;
    height: 100vh;
    font-family: var(--font-family);
    width: 66vw;
    box-shadow: 3px 1px 10px black;
}

.mobilebodybackground {
    background: no-repeat url("/assets/images/foliage_bg.png");
    background-size: auto 180%;
    background-position: left left;
}

.desktopbodybackground {
    background-color: var(--text-color);
    height: 100vh;
    background-size: cover;
}



.logopadding {
    padding-top: 5.1em;
    padding-bottom: 5em;
}

.pclass1 {
    font-size: 2.9em;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    padding-right: 1em;
    padding-left: 1em;
}

form .btnclass {
    background-color: var(--bs-yellow-dark);
    color: var(--text-color);
    border-radius: 25px;
    height: 7rem;
    width: 50rem;
    font-size: 3.9rem;
    font-family: var(--font-family);
}
#pcolorgreen {
    color: var(--bs-green-dark);
}

form {
    padding-top: 6em;
}

.logorezisehomepage {
    width: 25%;
    filter: invert(27%) sepia(14%) saturate(4421%) hue-rotate(72deg)
        brightness(93%) contrast(104%);
}
