<nav class="navbar navbar-light navbar-expand-lg fixed-top">
	<div class="container-fluid">
		<img class="logo-top-nav" src="/assets/images/monkey-logo.png" alt"">
		<a class="navbar-brand" id="navbar-title" href="#">Green
			<br>
			Monkey
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h3 class="offcanvas-title" id="offcanvasNavbarLabel">Green monkey</h3>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="nav-li-color">
					<li class="nav-item m-2">
						<a class="nav-link " href="#">Accueil</a>
					</li>
					<li class="nav-item m-2">
						<a class="nav-link" href="#">Questionnaire</a>
					</li>
					<li class="nav-item m-2">
						<a class="nav-link" href="#">Connexion</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
